{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row sqr">
        <div class="col">
            <h1>Why do we need sustainable management?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>As the urbanization of any place starts, the amount of waste generated in that place also increases. This leads to the contamination of the environment. To prevent this from happening, switching to a sustainable life is very critical. Sustainable living involves switching to sustainable waste practices. Doing this contributes to a clean and healthy environment which in turn contributes to the human life health and the animal health and welfare. This will lead to decreasing pollution and land contamination levels which will help conserving the natural resources. It is important that we start today for a better tomorrow!</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row sqr">
        <div class="col">
            <h1>5 methods to reduce waste</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>1.	Take a reusable cloth bag wherever you go so that can prevent from buying polythene/plastic bags.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>2. Use reusable bottles/travel mugs to prevent from buying water bottles.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>3. Try cooking and not buying takeout. It can help you get rid of the unnecessary plastic containers.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>4. Compost the waste and make sure you purchase ecofriendly products as much as you can.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>5. Try implementing Reduce, Reuse, recycle in your day to day lives.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{ url_for('static', filename='images/pic1.jpg') }}" style="height:20em;">
        </div>
    </div>
</div>
<div class="container">
    <div class="row sqr">
        <div class="col">
            <h1>5 ways to sort your waste</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>1. Organic waste/ biodegradable waste dry leaves, food scraps, vegetables/fruits skin peel </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>2. Separate your inorganic waste into papers, plastic waste, glass waste. Paper waste will include papers, cardboard boxes, food cartons, newspapers, etc. 
                Keep your glass waste separately to make sure it is safe for the operators who handle the waste.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>3. Make sure you use a separate bag for hazardous waste like batteries, concentrated cleaners, electrical waste, or infectious waste.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>4. Use a separate bin for dumping medical wastes masks, used syringes, medical supplies like left over medicines or post treatment equipment to prevent the spreading of any contagious/ non-contagious diseases. </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>5. Use a separate bin for metal waste/ scrapes like tins/cans/containers.</h5>
        </div>
    </div>
</div>

{% endblock %}